body {
    margin: 0;

}

#container {
    width: 550px;
    height: 550px;
    background-color: antiquewhite;
}

header {
    height: 90px;
    background-color: aqua;
}

main {
    height: 460px;
    background-color: brown;
        margin: 0;

}

.col {
    width: 110px;
    height: 460px;
    display: inline-block;
   
    float: left;
   
}

.color-box {
    height: 414px;
    background-color: bisque;
    


}

.color-hexa {
    height: 46px;
    background-color: rgb(250, 106, 106);
}