/*Layouts*/
body{
    margin: 0;
    font-family: "Karla",serif;
}
header{
    background-color: #67595E;
    
    color: #EED6D3;
    font-weight: bold;
    height: 85px;
}
.head-div{
    
    width: 300px;
    margin:0 auto;
    

}
.container{
    width: 300px;
    margin: 0 auto;
    text-align: center;

}

/*typography*/

h2{
    font-size: 16px;
    margin-top: 0px;
    padding-top: 19px;
    margin-bottom: 0;
    font-weight: 800;
    margin-left: 10px;
    display: inline-block;
    
}

h1{
    margin-top: 0;
    font-size: 28px;
    font-weight: 720;
     display: inline-block;
     margin-bottom: 0;
}
img{
    width: 80px;
    padding-right: 10px;
    float: left;
}

label{
    
}
button{
    background-color: #67595E;
    color: #eed6d3;
    margin-top: 20px;
    border: none;
    padding:10px 25px;
    border-radius: 4px;
}