html, body {
    margin: 0;
    padding: 0;
    background-image: url("img/table.png");
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
}

button.draw {
    font-size: 1.2em;
    padding: 5px;
}
#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    border: 1px solid black;
    height: 110px;
    width: 90px;
    margin-bottom: 20px;
}
h1{
    margin: 0;
}
.card img{
    height: 100%;
}